@{
    ViewData["Title"] = "";
}
<h1>@ViewData["Title"]</h1>

<p>
    <br>
    <br>
    My shop, City Bones, is a combination of macrame, jewelry with animal bones incorporated. All bones are responsibly sourced and cleaned by me. When I was a kid I started having my version of a burial service for any deceased animals I had found. I did this as a way to honor the life they had and in my little child brain I felt I was showing them that I loved and cared for them. Over the years I started incorporating them into my art as a way to appreciate and honor them in a new way. And now I want others to appreciate their beauty as much as I do!
    <br>
    <br>
    <br>
    **Disclaimer**
    With the nature of my work, each skull, vertebrates and other bones will have slight variations in color, shapes and sizes from what’s pictured. I take a lot of pride in my work and will not sell anything I feel are in poor condition. My pieces can also be quite delicate, so please be careful! I am not reliable for any damages after purchase.
</p>



<style>
    body {
        background-image: url('https://tinypic.host/images/2022/07/12/Untitled-design5a9d15116903f8ae.png');
        background-repeat: no-repeat;
        background-position: center;
        background-position: bottom;
        background-color: #e3e2e0;
    }


    img {
        border-radius: 50%;
    }
</style>