#content {
    text-align: center;
}

#left {
    width: 33%;
    display: table-cell;
}



#center {
    width: 33%;
    display: table-cell;
    text-align: center;
}

#container {
    display: table;
}
