@{
    ViewData["Title"] = "Home Page";
}
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="~/css/site.css" />
<link rel="stylesheet" type="text/css" href="maincss" />
<div class="text-center">

    <div style="display:inline-block;vertical-align:top;">
        <p><image class='picture'> <p style="text-align:center" ;> <img src="https://tinypic.host/images/2022/07/14/cityboneslogo.jpg" alt="city bones logo" width="300" height="300" /></p>
    </div>
    <div style="display:inline-block;"></div>
</div>



<h5 class="text-center" style="font-family: cursive">

    My shop, City Bones,
    <br />
    is a combination of art, macrame, and jewelry
    <br />with ethically sourced animal bones incorporated.
</h5>
<br />
<br>
<div class="contactMe">
    <h2 style="font-size: medium">Contact Me</h2>

    <div>

        <a href="mailto:citybones3@gmail.com">
            <img src="https://tinypic.host/images/2022/07/12/Screen-Shot-2022-07-12-at-11.09.57-AM.png"
                 alt="email-icon-pink-19.jpg"
                 height="35"
                 width="35">
        </a>



        <a href="https://www.facebook.com/profile.php?id=100022769647644">
            <img src="https://tinypic.host/images/2022/07/12/Screen-Shot-2022-07-12-at-11.10.25-AM.png"
                 alt="fb icon"
                 height="35"
                 width="35">
        </a>

        <a href="https://www.instagram.com/city_bones/?hl=en">
            <img src="https://tinypic.host/images/2022/07/12/Screen-Shot-2022-07-12-at-11.09.00-AM.png"
                 alt="insta icon"
                 height="30"
                 width="30">
        </a>

    </div>
</div>

<style>
    body {
        background-image: url('https://tinypic.host/images/2022/07/14/fern-leaves-circle-wooden-plate-white-wood-pannels.jpg');
        background-repeat: no-repeat;
        background-size: cover;
    }


    img {
        border-radius: 50%;
    }



    .contactMe {
        /* scroll-margin-bottom: 20px;
        position: center;
        text-align: center;
        bottom: 0px;
        width: 100%;*/
        position: fixed;
        text-align: center;
        bottom: 0px;
        width: 100%;
      
      
    }
</style>
