@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
   
    <div style="display:inline-block;vertical-align:top;">
        <p><image class='picture'> <p style="text-align:center";> <img src="https://tinypic.host/images/2022/07/14/cityboneslogo.jpg" alt="city bones logo" width="300" height="300" /></p>
    </div>
    <div style="display:inline-block;"></div>


    <br>
    <br>

    <h5 class="text-center">
        My shop, City Bones, is a combination of
        <br />
        art, macrame, and jewelry with ethically sourced animal bones incorporated.
    </h5>
</div>


    <style>
        body {
            background-image: url('https://imgur.com/a/izAauy8');
            background-repeat: no-repeat;
          
            background-size: cover;
        }


        img {
            border-radius: 50%;
        }
    </style>