@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">City Bones</h1>
    <br>
    <br>
    <div style="display:inline-block;vertical-align:top;">
        <p><image class='picture'> <p style="text-align:center";> <img src="https://tinypic.host/images/2022/07/13/cityboneslogo.jpg" alt="city bones logo" width="300" height="300" /></p>
    </div>
    <div style="display:inline-block;"></div>


    <br>
    <br>

    <h5 class="text-center">
        My shop, City Bones, is a combination of
        <br />
        art, macrame, and jewelry with ethically sourced animal bones incorporated.
    </h5>
</div>


    <style>
        body {
            background-image: url('https://tinypic.host/images/2022/07/12/Untitled-design5a9d15116903f8ae.png');
            background-repeat: no-repeat;
            background-position: bottom;
            background-position: left;
            background-color: #e3e2e0;
        }


        img {
            border-radius: 50%;
        }
    </style>