@{
    ViewData["Title"] = "";
}
<h1>@ViewData["Title"]</h1>

<h1 style="text-align: center; font-family: cursive">Markets You'll Find Me At!</h1>


<div class="row">
    <div class="column">
    <p style="text-align: center; ">
        <a href="https://www.frontstreetflea.com">
            <img src="https://tinypic.host/images/2022/07/15/IMG_7773.jpg"
                 alt="front street flea"
                 height="400"
                 width="400">
        </a>
    </p>
 
</div>
    </div>

    <div class="column">
    <p style="text-align: center;">
    <a
       href="https://www.instagram.com/sixwaysmarkets/?hl=en"
       >
        <img
             src="https://tinypic.host/images/2022/07/20/IMG_7809.png"
             alt="Six Ways Market"
             height="400"
             width="400">
        </a>
        </p>
</div>

<div class=" column">
    <p style="text-align: center;">
        <a href="https://www.friendshipflea.com/">
            <img src="https://tinypic.host/images/2022/07/20/Screen-Shot-2022-07-20-at-1.47.17-PM.png"
                 alt="FriendShip Flea Market"
                 height="400"
                 width="400">
        </a>
    </p>
</div>


<style>
    body {
        background-image: url('https://tinypic.host/images/2022/07/15/9db5e39aa99ef19f6fb186c4990acd83.jpg');
        background-position: center;
        background-size: cover;
    }

    .row{
        display: flex;

    }

    .column{
        flex: 33.33%;
        padding: 5px;
    }


   
</style>