@{
    ViewData["Title"] = "";
}
<h1>@ViewData["Title"]</h1>
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="~/css/site.css" />
<link rel="stylesheet" type="text/css" href="maincss" />


<h3 style="text-align: center; font-family: monospace">Where You Can Find Me!</h3>


<div class="row">
    <div class="column">
        <!-- <p style="text-align: center; ">-->

        <a href="https://www.frontstreetflea.com">
            <img src="https://tinypic.host/images/2022/07/15/IMG_7773.jpg"
                 alt="front street flea"
                 style="width:30%" />
            <!--- height="250"
             width="250">-->
        </a>





        <!---<div class="column">
            <p style="text-align: center;">-->
        <a href="https://www.instagram.com/sixwaysmarkets/?hl=en">
            <img src="https://tinypic.host/images/2022/07/20/IMG_7809.png"
                 alt="Six Ways Market"
                 style="width:28%" />
            <!---  height="250"
              width="250">-->

        </a>


        <!--<div class="column">
            <p style="text-align: center;">-->
        <a href="https://www.friendshipflea.com/">
            <img src="https://tinypic.host/images/2022/07/20/Screen-Shot-2022-07-20-at-1.47.17-PM.png"
                 alt="FriendShip Flea Market"
                 style="width:30%" />
            <!--height="250"
            width="250">-->
        </a>
    </div>
</div>

<div class="contactMe">
    <h2 style="font-size: medium;">Contact Me</h2>

    <div>

        <a href="mailto:citybones3@gmail.com">
            <img src="https://tinypic.host/images/2022/07/12/Screen-Shot-2022-07-12-at-11.09.57-AM.png"
                 alt="email-icon-pink-19.jpg"
                 height="35"
                 width="35">
        </a>



        <a href="https://www.facebook.com/profile.php?id=100022769647644">
            <img src="https://tinypic.host/images/2022/07/12/Screen-Shot-2022-07-12-at-11.10.25-AM.png"
                 alt="fb icon"
                 height="35"
                 width="35">
        </a>

        <a href="https://www.instagram.com/city_bones/?hl=en">
            <img src="https://tinypic.host/images/2022/07/12/Screen-Shot-2022-07-12-at-11.09.00-AM.png"
                 alt="insta icon"
                 height="30"
                 width="30">
        </a>

    </div>
</div>


<style>
      body {
          background-image: url('https://tinypic.host/images/2022/07/15/9db5e39aa99ef19f6fb186c4990acd83.jpg');
          background-position: center;
          background-size: cover;
      }

      .row {
          display: flex;
          flex-wrap: wrap;
          padding: 0 10px;
          text-align: center;
      }

      /* Create two equal columns that sits next to each other */
      .column {
          flex: 35%;
          padding: 0 30px;
          text-align: center;
      }

          .column img {
              margin-top: 50px;
              vertical-align: middle;
              padding: 0 30px;
              text-align: center;
          }

          .contactMe {
        padding-top: 12%;
        position: center;
        text-align: center;
        bottom: 0px;
        width: 100%;
        
    }

</style>