<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - City Bones</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" type="text/css" href="maincss" />
   
</head>
<body>
    <div id="page-container">
        <div id="content-wrap">
        </div>
    </div>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">City Bones</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="About">About Me</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="ShopProduct">Shop Products</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Markets">Markets</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Checkouthere">Checkout</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>



    <footer style="position: center; bottom: 0;">
        <div class="contactMe">
           <div id="content"> Contact me! 
                <div id="center">
                   <h2 style="position: center; bottom: 0;"> </h2>
                    <a href="mailto:citybones3@gmail.com">
                        <img src="https://tinypic.host/images/2022/07/12/Screen-Shot-2022-07-12-at-11.09.57-AM.png"
                             alt="email-icon-pink-19.jpg"
                             height="35"
                             width="35">
                    </a>
                    <div style="display:inline-block;">
                        <a href="https://www.facebook.com/profile.php?id=100022769647644">
                            <img src="https://tinypic.host/images/2022/07/12/Screen-Shot-2022-07-12-at-11.10.25-AM.png"
                                 alt="fb icon"
                                 height="35"
                                 width="35">
                        </a>
                    </div>
                    <div style="display:inline-block;">
                        <a href="https://www.instagram.com/city_bones/?hl=en">
                            <img src="https://tinypic.host/images/2022/07/12/Screen-Shot-2022-07-12-at-11.09.00-AM.png"
                                 alt="insta icon"
                                 height="30"
                                 width="30">
                        </a>
                    </div>
                </div>
            </div>
                </div>
            <div id="container">
                <div id="left">
                    &copy; 2022 - City Bones - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>

                </div>
            </div>


            <div style="display:inline-block;"></div>
            <link rel="stylesheet" href="styles.css">
            <br>
            <br>

        
        <div style="display:inline-block;"></div>
        <link rel="stylesheet" href="styles.css">
        <br>
        <br>

    </footer>

  


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>

